@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.text-primary {
  color: #02914c;
}

.bg-primary {
  background-color: #02914c;
}

.bg-secondary {
  background-color: #3f4e41;
}

.text-secondary {
  color: rgb(63, 78, 65);
}

.bg-primary-light {
  background-color: #c4f2b7;
}
